@{
	var controller = ViewContext.RouteData.Values["controller"]?
		.ToString()?
		.ToLower()
		?? String.Empty;
}

<div class="navbar-nav">
	<a class="navbar-brand" href="#">WEB_25350047_Yeudakavets</a>
	<a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Лб 1</a>
	<a class="nav-item nav-link" asp-controller="Product" asp-action="Index">Каталог</a>
	<a class="nav-item nav-link" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>